<header>
	<div class="container">
		<nav class="navbar navbar-default navbar-expand-lg navbar-light">
			<div class="ml-5 text-left">
				<header>
					<a href="/"><div class="navbar-brand">RoboLab</div></a>
				</header>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="mr-5 ml-auto">
				<div class="collapse navbar-collapse col-md-offset-4" id="navbarToggler">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="{{ "courses" | relURL }}">Направления</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ "schedule" | relURL }}">Расписание</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ "about" | relURL }}">О нас</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ "contacts" | relURL }}">Контакты</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Блог</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>